{% extends 'snippet/layout.html' %} {% block main %}
<div class="topics container-box hentry deprecated-mt10 yue">
	<div class="topic-item entry-content">
		<div class="main about-me">
			<h2>About</h2>
			<h3>
				Hi! I am <strong>Yi Zhang</strong>. <small>I solve problems
					and drink tea.</small>
			</h3>
			<div class='about-me'>
				<div class='about-me-pic span4'>&nbsp</div>
				<div class='about-me-splitter span1 visible-desktop'>&nbsp;</div>
				<div class='lead'>
					<p>Physics scientist</p>
					<p>Active programmer</p>
					<p>Technology enthusiast</p>
					<p>Classic guitar lover</p>
				</div>
			</div>
		</div>
		<div class="main lead">
			<h2>Contact</h2>
			<p>I live in Henderson, NV (and Seattle, WA) and work in Las
				Vegas, NV</p>
			<p>You can reach me by</p>
			<ul>
				<li><a href="mailto:yizhangme@yahoo.com">Yahoo Mail</a></li>
				<li><a href="https://www.facebook.com/yi.zhang.18847">Facebook</u></a></li>
				<li><a href="www.linkedin.com/pub/yi-zhang/29/84/37b/en">Linkedin</u></a></li>
			</ul>
		</div>
		
		<div class="main lead">
			<h2>Projects</h2>
			<p>
				I maintain an open source repository on <a
					href="https://github.com/hahoney">Github</a>.
			<p>
			<p>Full descriptions of the projects can be found in my project
				page.</p>
			<span><h2>Skills</h2> </span>
			<p>Language: Familiar with Java, Python, and Fortran. Had project
				experiences with C, C++, GoLang, Scala, and MySQL.
			<p>OpenMPI a nd MPICH parallel programming</p>
			<p>Spring MVC, tornado, dejango, ruby-on-rails.
			<p>
			<p>I am interested in big data stack (Spark, Pig, Hive, Akka,
				Cassandra etc.), natual language processing, and statistic learning
				technique</p>
		</div>

		<div class="main lead">
			<span><h2>Experience</h2></span>
			I am a research scientist in HiPSEC, UNLV. Check out <a
				href="http://hipsec.unlv.edu/faculty-and-staff/">HiPSEC</a> web page
			for more information about the institute and my research and
			teaching. <br> <br>
			<p>
				<strong>HiPSEC</strong>
			</p>
			<p>A research center supported by DOE-NNSA</p>
			<ul>
				<li>Position: Research Staff</li>
				<li>Location: Las Vegas, Nevada</li>
				<li>Dates: Feb. 2012 - present</li>
			</ul>
			<p>
				<strong>UNLV</strong>
			</p>
			<p>Physics Department</p>
			<ul>
				<li>Position: Postdoc researcher</li>
				<li>Location: Las Vegas, Nevada</li>
				<li>Dates: Feb. 2009 - Jan. 2012</li>
			</ul>
		</div>

		<div class="main lead">
			<span><h2>Education</h2></span>
			I received undergraduate and graduate education in <a
				href='http://en.sjtu.edu.cn/'>Shanghai Jiaotong University</a>
			(SJTU), Shanghai, China, where I started my career as a physics
			scientist.<br> <br>
			<p>
				<strong>SJTU</strong>
			</p>
			<p>Physics Department</p>
			<ul>
				<li>Ph.D of Physics</li>
				<li>Dates: Sep. 2003 - Sep. 2008</li>
				<br>
				<li>Bachelor of Applied Physics</li>
				<li>Dates: Sep. 1999 - Jun. 2003</li>
			</ul>
		</div>
	</div>
	{% endblock %}