{% extends 'snippet/layout.html' %} {% block main %}
<style>
a:link {
	color: #000000;
}

/* visited link */
a:visited {
	color: #000000;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
}

/* selected link */
a:active {
	color: #0000FF;
}
</style>


{% if current_user %}
<form action="/t/create/" method="get">
<div class="yue section-input">
	<input type="url" placeholder="Enter source link or blank for new post:" name="source" />
	<button data-url="" class="button">Submit</button>
</div>
</form>
{% endif %}

<div class="topics container-box deprecated-mt10">
	{% for topic in topics.list %}
	<div class="topic-item">
		<ul class="entry-list">
			<li class="entry-item">
				<div class="detail">
					<h2>
						<a href="/zh/2008/murmurs">{{ topic.title }}</a>
					</h2>
					<div class="entry-meta">
						<time class="updated">{{ topic.last_touched }}</time>
						<span class="dot">&middot;</span> <em> www.auntbear.com {{
							782 }} words</em>
					</div>
					<a href="/zh/2008/murmurs" class="description">{{ topic.content }} <span class="entry-meta">view
							full</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
	{% endfor %}

	<div class="pagination">{{ topics.page|pagination(request.uri) }}
	</div>
</div>

<div class="nodes-cloud container-box mt10">
	<h4 class="title">F2E / 常见节点导航</h4>
	<ul>
		{% for plane in planes %}
		<li><label for="">{{ plane.name }}</label> <span class="nodes">
				{% for node in plane.nodes %} <a href="/node/{{ node.slug }}">{{
					node.name }}</a> {% endfor %}
		</span></li> {% endfor %}
	</ul>
</div>
{% endblock %}
