{% extends 'snippet/layout.html' %} {% block main %}
<style>
a:link {
	color: #000000;
}

/* visited link */
a:visited {
	color: #000000;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
}

/* selected link */
a:active {
	color: #0000FF;
}
</style>


<div class="topics container-box deprecated-mt10">
	{% for topic in topics.list %}
	<div class="topic-item">
		<ul class="entry-list">
			<li class="entry-item">
				<div class="detail">
					<h2>
						<a href="/zh/2008/murmurs">碎碎念</a>
					</h2>
					<div class="entry-meta">
						<time class="updated">{{ topic.last_touched }}</time>
						<span class="dot">&middot;</span> <em> www.auntbear.com {{ 782 }} words</em>
					</div>
					<a href="/zh/2008/murmurs" class="description">謊言是必須的，它給這戲劇性的人生又憑添了一重戲劇感。
					我經常說謊，以為是很快樂的事情。當然總是在說過後向別人解釋一下。
				    <span class="entry-meta">view full</span></a>
				</div>
			</li>
		</ul>
	</div>
	{% endfor %}

	<div class="pagination">{{ topics.page|pagination(request.uri) }}
	</div>
</div>

<div class="nodes-cloud container-box mt10">
	<h4 class="title">F2E / 常见节点导航</h4>
	<ul>
		{% for plane in planes %}
		<li><label for="">{{ plane.name }}</label> <span class="nodes">
				{% for node in plane.nodes %} <a href="/node/{{ node.slug }}">{{
					node.name }}</a> {% endfor %}
		</span></li> {% endfor %}
	</ul>
</div>
{% endblock %}
